* {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
}

ul, li {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

/* Global Section */

.workflow {
    margin: 0 5%;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture {
    object-fit: cover;
}

/* Header Section */

#header {
    display: flex;
    justify-content: space-between;
}

#header .logo {
    padding-top: 16px;
    padding-left: 8px;
    height: 48px;
}

#header nav .nav-menu {
    display: flex;
    margin: 0;
}

#header nav .nav-menu li {
    padding: 32px 32px 0;
}

#header nav .nav-menu li {
    border-top: 2px solid #fff;

    transition: border-top-color 50ms;
}

#header nav .nav-menu li .active {
    color: #0065FC;
}

@media screen and (min-width: 993px) {
    #header nav .nav-menu li:hover {
        border-top-color: #000;
    }

    #header nav .nav-menu li.li-active:hover {
        border-top-color: #0065FC;
    }
}

/* Search Section */

#search {
    margin: 32px 0;
    display: flex;
    flex-direction: column;
}

#search .search-section {
    line-height: 0.5;
}

#search .search-section h3 {
    font-weight: bolder;
}

#search .search-section p {
    color: F2F2F2;
}

#search .search-section .search-bar {
    display: flex;
    border: 1px solid #eee;
    height: 40px;
    border-radius: 12px;
    float: left;
}

#search .search-section .search-bar .icon {
    background-color: #eee;
    width: 40px;
    height: 40px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#search .search-section .search-bar .input-field {
    border: none;
    padding: 0 16px;
    font-weight: bold;
}

#search .search-section .search-bar .button-field {
    background-color: #0065FC;
    border: none;
    color: white;
    font-weight: bold;
    padding: 0 16px;
    margin: -1px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#search .search-section .search-bar .mobile-button {
    display: none;
}

#search .filter-section {
    display: flex;
    align-items: center;
    margin: 12px 0;
}

#search .filter-section p {
    margin-right: 16px;
    font-weight: bold;
}

#search .filter-section .filters {
    display: flex;
}

#search .filter-section .filters .filter a {
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    border: 2px solid #eee;
    border-radius: 16px;
    margin-right: 32px;
    height: 32px;
}

#search .filter-section .filters .filter .icon {
    background-color: #DEEBFF;
    border-radius: 100%;
    width: 35.2px;
    height: 35.2px;
    color: #0065FC;
    margin: -3px;
}

#search .filter-section .filters .filter p {
    margin: 0 12px 0 8px;
    font-weight: bold;
}

#search .info {
    display: flex;
    font-size: 12px;
}

#search .info .icon {
    border: 1px solid #eee;
    border-radius: 100%;
    color: #0065FC;
    width: 19.2px;
    height: 19.2px;
}

#search .info-text {
    display: flex;
    align-items: center;
    margin: 0 0 0 8px;
}

/* Main Content */

#main-content {
    display: flex;
    justify-content: space-between;
}

#main-content .note {
    color: #eee;
}

#main-content .active {
    color: #0065FC;
}

#main-content .title, #main-content h3.title {
    margin: 8px 0 24px;
}

#main-content h5 {
    margin: 8px 0;
}

#main-content p {
    margin: 0;
}

#main-content i,
#main-content p {
    font-size: 10px;
}

/* Hébergement Section */

#lodging {
    background-color: #eee;
    border-radius: 16px;
    padding: 2%;
    width: 63%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#lodging .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#lodging .container a {
    margin-bottom: 3%;
    width: 32%;
    height: 20%;
}

#lodging .container .card {
    background-color: white;
    box-shadow: 7px 7px 15px -2px rgba(0,0,0,0.25);
    border-radius: 16px;
    padding: 4px;
}

#lodging .container .card .picture {
    width: 100%;
    height: 128px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

#lodging .container .card .description {
    padding: 0 8px;
}

#lodging .container .card .description h5 {
    margin: 4px 0;
}

#lodging .more {
    font-size: 14px;
    font-weight: bold;
}

/* Most Popular */

#most-popular {
    background-color: #eee;
    border-radius: 16px;
    padding: 2%;
    width: 28%;
}

#most-popular .title {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#most-popular .title h3 {
    margin: 0;
}

#most-popular .title i {
    display: flex;
    flex-direction: column-reverse;
    font-size: 14px;
}

#most-popular .container .card {
    display: flex;
    background-color: #fff;
    box-shadow: 7px 7px 15px -2px rgba(0,0,0,0.25);
    border-radius: 16px;
    width: 100%;
    max-width: 400px;
    height: 112px;
    padding: 4px 0 4px 4px;
    margin: 32px 0;
}

#most-popular .container .card .picture {
    width: 104px;
    height: 100%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

#most-popular .container .card .description {
    margin: 4px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Activités Section */

#activities {
    margin: 48px 0;
    display: flex;
    flex-direction: column;
}

#activities .cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 416px;
}

#activities a {
    width: 22%;
    margin: 8px 0 16px;
}

#activities a.bottom-card {
    margin: 16px 0;
}

#activities .card {
    border-radius: 16px;
    box-shadow: 7px 7px 15px -2px rgba(0,0,0,0.25);
    position: relative;
}

#activities .card .picture {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

#activities .card div {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#activities .card div p {
    background-color: #fff;
    margin: 0;
    padding: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    font-weight: bold;
}

#activities .card-1 {
    height: 384px;
}

#activities .card-2 {
    height: 211.2px;
}

#activities .card-3 {
    height: 140.8px;
}

#activities .card-4,
#activities .card-4-bis {
    height: 176px;
}

/* Footer */

#footer {
    background-color: #eee;
    width: 100%;
}

#footer .container {
    display: flex;
    padding: 0 0 16px;
    margin-bottom: 0;
}

#footer .container .menu-container {
    margin-left: 32px;
    margin-right: 20%;
}

#footer .container .menu-container h4 {
    margin-bottom: 10px;
}

#footer .container .menu-container .menu-footer {
    line-height: 2;
    font-weight: lighter;
    font-size: 12px;
}