/* Global Section */

html {
    width: 100%;
}

body {
    box-sizing: border-box;
}

.workflow {
    width: 100%;
    margin: 0;
}

.container {
    width: 90%;
    margin: auto;
}

/* Header Section */

#header {
    flex-direction: column;
}

#header .logo {
    margin: 0 auto 1.5rem;
    padding-left: 8%;
}

#header nav .nav-menu {
    justify-content: flex-start;
}

#header nav .nav-menu li {
    padding: 0 0 1rem;
    text-align: center;
    width: 50%;
    border-bottom: 3px solid gray;
}

#header nav .nav-menu .active {
    color: #0d6efd;
}

#header nav .nav-menu .li-active {
    border-bottom-color: #0d6efd;
}

/* Search Section */

#search {
    width: 90%;
    margin: auto;
}

#search .search-section h3 {
    line-height: 1;
}

#search .search-section .search-bar {
    justify-content: center;
}

#search .search-section .search-bar .mobile-button {
    background-color: #0d6efd;
    display: block;
    color: white;
    font-weight: bold;
    padding: 0 1rem;
    margin: -1px;
    border: none;
    border-radius: 0.5rem;
}

#search .search-section .search-bar .button-field {
    display: none;
}

/* #search .search-section .search-bar .button-field {
    TODO : MODIFIER LE MOT RECHERCHER PAR UNE LOUPE   
} */

#search .filter-section {
    display: block;
}

#search .filter-section p {
    margin: 0.5rem 0 0 0;
}

#search .filter-section .filters {
    flex-wrap: wrap;
}

#search .filter-section .filters .filter {
    padding: 0.25rem 0;
}

#search .info {
    margin-bottom: 1rem;
}

/* Main Content Section */

#main-content {
    flex-direction: column-reverse;
}

/* Hébergement Section */

#lodging {
    background-color: #fff;
    border-radius: 0;
    width: 100%;
    padding: 0;
}

#lodging h3.title {
    margin: 1rem;
}

#lodging .container {
    flex-direction: column;
}

#lodging .container a {
    width: 100%;
}

#lodging .container a .card {
    height: 13rem;
}

#lodging .container a .card .picture {
    height: 9rem;
}

#lodging .more {
    padding: 0;
    margin: 1rem 1rem 0;
    font-weight: bold;
}

/* Most Popular Section */

#most-popular {
    border-radius: 0;
    width: 100%;
    height: 100%;
    padding: 0 0 1rem;
}

#most-popular .title {
    display: flex;
    align-items: center;
}

#most-popular .title h3 {
    margin: 1rem;
}

#most-popular .title i {
    margin: 1rem;
}

#most-popular .container a {
    margin: 0;
    width: 100%;
}

#most-popular .container .card {
    min-width: 0;
    margin: 0.5rem 0;
}

/* Activites Section */

#activities h3 {
    margin: 0 1rem;
}

#activities .cards {
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
}

#activities .cards a {
    width: 100%;
}

#activities .cards .card {
    height: 14rem;
    margin: 0.5rem 5%;
}

/* Footer */

#footer .container {
    flex-direction: column;
}

#footer .container .menu-container {
    margin: 3% 4% 1.5%;
}